@model Project.MVC.ViewModels.VehicleModelView

<a href="@Url.Action("Create", "VehicleModel")" class="btn btn-primary">Create New</a>
<br />
<label for="MakeId">Choose make:</label>
<select id="makeSelect" class="form-select" onchange="location = this.value;">
    <option value=></option>
    <option value="@Url.Action("Index")">Reset filters</option>
    @foreach (var make in Model.Makes)
    {
        <option value="@Url.Action("Index", new { filter = make.Id })">@make.Name</option>
    }
</select>
<table class="table">
    <thead>
        <tr>

            <th>
                <a asp-action="Index" asp-route-filter="@(Model.Filter.Filter)" asp-route-sortby="Name" asp-route-sortorder="@(Model.Sort.SortBy == "Name" && Model.Sort.SortOrder == "asc" ? "desc" : "asc")">Name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-filter="@(Model.Filter.Filter)" asp-route-sortby="Abrv" asp-route-sortorder="@(Model.Sort.SortBy == "Abrv" && Model.Sort.SortOrder == "asc" ? "desc" : "asc")">Abrv</a>
            </th>
             <th>
                <a asp-action="Index" asp-route-filter="@(Model.Filter.Filter)" asp-route-sortby="Makes" asp-route-sortorder="@(Model.Sort.SortBy == "Makes" && Model.Sort.SortOrder == "asc" ? "desc" : "asc")">Makes</a>
            </th>
            <th>
                <a>Delete</a>
            </th>
            <th>
                <a>Update</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vehicleModel in Model.Models)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => vehicleModel.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => vehicleModel.Abrv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => vehicleModel.Make.Name)
                </td>
                <td>
                    <form asp-controller="VehicleModel" asp-action="DeleteVehicle" method="post">
                        <input type="hidden" name="id" value="@vehicleModel.Id" />
                        <button class="btn btn-primary" type="submit" onclick="return confirm('Are you sure you want to delete?')">Delete</button>
                    </form>
                </td>
                <td>
                    <a href="@Url.Action("Edit", "VehicleModel", new { id = vehicleModel.Id })" class="btn btn-primary">Edit</a>
                </td>

            </tr>
        }
    </tbody>
</table>
@if (Model.PaginationInfo.TotalPages > 1)
{
    <ul class="pagination">
        @if (Model.PaginationInfo.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PaginationInfo.CurrentPage - 1)" asp-route-filter="@(Model.Filter.Filter)" asp-route-sortby="@(Model.Sort.SortBy)" asp-route-sortorder="@(Model.Sort.SortOrder)">Previous</a>
            </li>
        }

        @for (int i = 1; i <= Model.PaginationInfo.TotalPages; i++)
        {
            <li class="page-item @(i == Model.PaginationInfo.CurrentPage ? "active" : "")">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@i" asp-route-filter="@(Model.Filter.Filter)" asp-route-sortby="@(Model.Sort.SortBy)" asp-route-sortorder="@(Model.Sort.SortOrder)">@i</a>
            </li>
        }

        @if (Model.PaginationInfo.CurrentPage < Model.PaginationInfo.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PaginationInfo.CurrentPage + 1)" asp-route-filter="@(Model.Filter.Filter)" asp-route-sortby="@(Model.Sort.SortBy)" asp-route-sortorder="@(Model.Sort.SortOrder)">NEXT</a>
            </li>
        }
    </ul>
}





